DB_FILE_NAME=./data/library-metrics.sqlite
GITLAB_BASE_URL=https://gitlab.com
GITLAB_API_VERSION=v4
GITLAB_GROUP_PATH=your-group-path
GITLAB_TOKEN=your-token
GITLAB_REQUEST_CONCURRENCY=3
GITLAB_REQUEST_DELAY_MS=0
GITLAB_REQUEST_TIMEOUT_MS=30000
GITLAB_REQUEST_RETRIES=1
GITLAB_REQUEST_RETRY_DELAY_MS=2000
TRPC_BASE_URL=http://localhost:3000
