.header {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  background-color: #fff;
  color: #000;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #ccc;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 0 0.5rem;
  font-weight: bold;
}
